.game-name {
  color: rgb(120, 43, 4);
  font-weight: 800;
  font-size: 28px;
  transition: font-size 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.game-name:hover {
  color: rgb(30, 30, 30);
  font-size: 32px;
  transform: rotate(5deg);
}

#settingsForm {
  margin-bottom: 20px;
}

#settingsForm label {
  margin-right: 10px;
}

#timer {
  font-size: 24px;
  margin-bottom: 20px;
}

.game-board {
  max-width: 85%;
  display: grid;
  gap: 10px;
  margin: 10px auto;
}

.card {
  max-width: 90%;
  background-color: #2e3b4e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transform: scale(1);
  transition: background-color 0.7s ease, transform 0.7s ease;
}

.card:hover {
  transform: scale(1.05);
}

.hidden {
  background-color: rgb(17, 38, 70);
  color: rgb(17, 38, 70);
  transform: rotateY(180deg);
  transition: transform 0.8s ease;
}

.matched {
  background-color: #28a745;
  color: white;
  transform: scale(1.05);
}

#resetButton {
  max-width: 40%;
  padding: 15px 30px;
  background-color: rgb(11, 49, 89);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#resetButton:hover {
  background-color: rgb(0, 30, 70);
  transform: scale(1.05);
}
