* {
  margin: 0;
  padding: 0;
}

.userName {
  font-size: 24px;
  color: rgb(105, 65, 13);
  margin: 5px 10px;
}

.userAge {
  font-size: 18px;
  color: gray;
  border: 2px solid cadetblue;
  padding: 5px;
  margin: 15px 10px;
}
